<div class="container-sm border border-secondary-subtle mt-4 p-3">
  <div class="input-group mb-3">
    <input #inputElement type="text" (keydown.enter)="onAdd(inputElement.value); inputElement.value = ''"
           class="form-control"
           placeholder="Add Todo" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button"
              (click)="onAdd(inputElement.value); inputElement.value = ''">Add
      </button>
    </div>

  </div>
  <div class="list-group-item d-flex justify-content-between  m-1 align-items-center">
    <h5>ToDo Items</h5>
    <button class="btn btn-outline-secondary" (click)="onDeleteAll()">Delete All</button>
  </div>
  <ul class="list-group todo-items--container">
    <li *ngFor="let todo of todos"
        [ngClass]="{'done' : todo.done}"
        class="list-group-item d-flex justify-content-between">
      <div class="d-flex align-items-center w-75">
        <input class="form-check-input me-2 "
               type="checkbox"
               (change)="onChange(todo)"
               [(ngModel)]="todo.done"
               (ngModelChange)="onChange(todo)">
        <input #todoTitleInput
               class="form-check-label border-0 shadow-none border-none w-75"
               type="text"
               (keydown.enter)="onSave(todo,todoTitleInput.value)"
               [ngClass]="{'todo-title--readonly' : !todo.isEditing,'done' : todo.done}"
               [readOnly]="!todo.isEditing"
               [value]="todo.title">
      </div>
      <div *ngIf="todo.isEditing" class="save-or-delete">
        <i class="bi bi-cloud-download me-2 save-icon"
           (click)="onSave(todo,todoTitleInput.value)"></i>
        <i class="bi bi-x-octagon-fill cancel-icon"
           (click)="onCancel(todo)"></i>
      </div>
      <div *ngIf="!todo.isEditing" class="action-container">
        <i class="bi bi-pencil-square me-2 edit-icon"
           (click)="onEdit(todo)"></i>
        <i class="bi bi-trash delete-icon"
           (click)="onDelete(todo.id)"></i>
      </div>
    </li>
  </ul>
</div>
