

<div class="container-sm border border-secondary-subtle mt-4 p-3">
  <div class="input-group mb-3">
  <input #inputElement type="text" (keydown.enter)="onAdd(inputElement.value); inputElement.value = ''" class="form-control" placeholder="Add Todo" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button"   (click)="onAdd(inputElement.value); inputElement.value = ''">Add</button>
  </div>
</div>
<ul class="list-group">
  <li *ngFor="let todo of todos" class="list-group-item d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <input class="form-check-input me-2 " type="checkbox">
      <label class="form-check-label w-100"> {{todo.title}}</label>
    </div>
    <i class="bi bi-trash"></i>
  </li>
</ul>
</div>
